#top-bar {
background:#000;}

/* MENU */

    #menu {	background:url("img/menu_g.png") no-repeat 100% 0;	}
#menu .out {
	background:url("img/menu_g.png") no-repeat;
}
.menu {

}

#nav li a {
	}

#footer {background: url("img/back_foot.jpg") top center no-repeat;    background-attachment: initial;    background-position-x: 50%;    background-position-y: 0;    background-origin: initial;    background-clip: initial;    width: 100%;	

}